.cards {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.card {
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(235, 235, 235);
  padding: 25px 25px 35px 20px;
  width: 200px;
}
.card h3 {
  font-size: 16px;
}
.card p {
  font-size: 16px;
  color: rgb(170,170,170);
  margin: 0px;
}
.cards-container {
  text-align: center;
  margin: 0 auto;
  width: 900px;
}
